@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ebd9d9;
  --navBackground: #534b42;
  --foreground: #171717;
  --text: #000000;
  --boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}


.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--background);
  max-width: 100vw;
  overflow-x: hidden;
}

.navBar {
  grid-row: 1;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--navBackground);
  color: white;
  box-shadow: var(--boxShadow);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navBar button {
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.navBar button:hover {
  background-color: white;
  color: var(--navBackground);
}

.mainContent {
  grid-row: 2;
  padding: 2rem;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

